<!DOCTYPE html>
<html>
    <head>
        <style type="text/css">
            .boton{
                text-decoration: none;
                padding: 10px;
                font-weight: 600;
                font-size: 20px;
                color: #ffffff;
                background-color: #1883ba;
                border-radius: 6px;
                border: 2px solid #0016b0;
            }
        </style>


    </head>
    <body>
        <nav>
        <a class="boton" title="Películas" href="films/movies">Películas</a>
        <a class="boton" title="Géneros" href="films/genres">Géneros</a>
        <a class="boton" title="Pelis por Género" href="films/moviesbygenres">Pelis por Género</a>
        </nav>
    </body>
</html>